## Preprocessing

# New Section

In [ ]:
pip install keras_tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras_tuner in /usr/local/lib/python3.9/dist-packages (1.3.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from keras_tuner) (23.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.9/dist-packages (from keras_tuner) (1.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from keras_tuner) (2.27.1)
Requirement already satisfied: protobuf<=3.20.3 in /usr/local/lib/python3.9/dist-packages (from keras_tuner) (3.20.3)
Requirement already satisfied: tensorflow>=2.0 in /usr/local/lib/python3.9/dist-packages (from keras_tuner) (2.12.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (1.53.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (1.4.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (16.0.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (2.2.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (2.12.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (3.8.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (1.16.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (3.3.0)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (2.12.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (0.32.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (1.22.4)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (0.2.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (0.4.7)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (4.5.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (1.6.3)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (2.12.1)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (0.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras_tuner) (67.6.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->keras_tuner) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->keras_tuner) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->keras_tuner) (2.0.12)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras_tuner) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.0.3 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow>=2.0->keras_tuner) (0.0.4)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.9/dist-packages (from jax>=0.3.15->tensorflow>=2.0->keras_tuner) (1.10.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (2.2.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (0.7.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (3.4.3)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (2.17.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.9/dist-packages (from markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (6.1.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras_tuner) (3.2.2)

In [ ]:
pip install h5py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: h5py in /usr/local/lib/python3.9/dist-packages (3.8.0)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.9/dist-packages (from h5py) (1.22.4)

In [ ]:
# Import our dependencies

import tensorflow as tf

# Import the kerastuner library
import keras_tuner as kt

from google.colab import files

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df=application_df.drop(columns=['EIN','NAME'])
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
   df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")


# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
df['CLASSIFICATION'].value_counts()
# type=df['CLASSIFICATION'].value_counts()>1
# newdf=pd.DataFrame(type,columns=['Type','values'])
# newdf.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
classification_df=df['CLASSIFICATION'].value_counts()
classification_df[:15]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

df['CLASSIFICATION'].unique()

array(['C1000', 'C2000', 'C3000', 'C1200', 'C2700', 'C7000', 'C7200',
       'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C2100', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150'], dtype=object)

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=['C2700', 'C7200','C7100', 'C2800', 'C6000', 'C1238','C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300','C8200','C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      887
C7000      777
C1700      287
C4000      194
C5000      116
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
df=pd.get_dummies(df)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C1700', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100',
       'CLASSIFICATION_C3000', 'CLASSIFICATION_C4000', 'CLASSIFICATION_C5000',
       'CLASSIFICATION_C7000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [ ]:
# Split our preprocessed data into our features and target arrays
X=df.drop(columns='IS_SUCCESSFUL')
y=df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=90, activation="relu", input_dim=47))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 90)                4320

 dense_1 (Dense)             (None, 40)                3640

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 8,001
Trainable params: 8,001
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5709 - accuracy: 0.7210
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7308
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7316
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7330
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7321
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7353
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7334
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7361
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5415 - accuracy: 0.7359
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7356
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7380
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7384
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7381
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7382
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7372
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7379
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7392
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7372
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7400
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7386
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7395
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7399
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7394
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7398
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7410
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7399
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7398
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7405
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7408
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7410
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7413
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7408
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7415
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7403
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7403
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7406
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7416
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7415
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7414
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7417
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7414
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7417
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7410
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7419
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7411
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7412
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7414
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7417
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7414
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7419
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7418
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7420
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7415
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7417
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7416
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7420
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7415
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7426
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7423
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7416
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7413

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5553 - accuracy: 0.7254 - 496ms/epoch - 2ms/step
Loss: 0.5552788376808167, Accuracy: 0.7253644466400146

In [ ]:
# Export our model to HDF5 file

nn_model.save('AlphabetSoupCharity_model with change in data.h5')
files.download("AlphabetSoupCharity_model with change in data.h5")